.col-md-9
  #logged_in
    %h3 Welcome
    %span your name is
    %span#user_name= user_name
  #yet_logged_in
    %h3 Please enter your name
    %label name
    %input#user_name_field{type: 'text'}
.co-md-3.nav.nav-tabs
  %input.btn.btn-info#login{type: 'button', value: 'login'}
  %Input.btn.btn-info#logout{type: 'button', value: 'logout'}
