%p get code data
.input_area
  %label code
  %input#code{type: 'text'}
  %input.btn.btn-default#code_submit{type: 'submit'}

%ul#result{style: "display: none;"}
  %table.table
    %thead
      %tr
        %th code
        %th price
    %tbody#result_area

#codes{style: 'display: none;'}= codes
